.home-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(135deg, #4b79a1, #283e51, #6a11cb, #2575fc);
  background-size: 400% 400%;
  animation: gradientMove 12s ease infinite;
}

@keyframes gradientMove {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.glass-card {
  background: rgba(255, 255, 255, 0.15);
  padding: 40px 60px;
  border-radius: 25px;
  backdrop-filter: blur(14px);
  box-shadow: 0 10px 30px rgba(0,0,0,0.25);
  width: 600px;
}

.home-title {
  font-size: 40px;
  font-weight: 800;
  color: #fff;
  margin-top: 10px;
}

.home-subtitle {
  font-size: 18px;
  color: #eaeaea;
  margin-bottom: 25px;
}

.start-btn {
  background: #ffcc00;
  color: #222;
  padding: 15px 45px;
  font-size: 20px;
  font-weight: 600;
  border-radius: 15px;
  border: none;
  cursor: pointer;
  box-shadow: 0px 6px 20px rgba(0,0,0,0.4);
  transition: 0.4s;
}

.start-btn:hover {
  background: #ff9800;
  transform: translateY(-6px);
}

.home-logo {
  width: 110px;
  margin-bottom: 15px;
  border-radius: 15px;
  box-shadow: 0 0 20px rgba(255,255,255,0.6);
}
