.sidebar {
  width: 250px;
  height: 100vh;
  background: #0d6efd;
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  padding-top: 30px;
}

.sidebar-title {
  text-align: center;
  font-size: 25px;
  margin-bottom: 30px;
  font-weight: bold;
}

.sidebar-menu {
  list-style: none;
  padding: 0;
}

.sidebar-menu li {
  padding: 15px 20px;
  font-size: 18px;
}

.sidebar-menu li:hover {
  background: #033a8b;
  cursor: pointer;
}

.sidebar-menu a {
  text-decoration: none;
  color: white;
  display: block;
}
