apiVersion: apps/v1
kind: Deployment
metadata:
  name: microservice
spec:
  replicas: 3
  selector:
    matchLabels:
      app: microservice
  template:
    metadata:
      labels:
        app: microservice
    spec:
      containers:
      - name: microservice
        image: microservice:latest
        ports:
        - containerPort: 3000
        imagePullPolicy: IfNotPresent
        env:
        - name: DB_HOST
          value: "mysql"
        - name: DB_USER
          value: "appuser"
        - name: DB_PASSWORD
          value: "app123"
        - name: DB_NAME
          value: "microservice"

